DATABASE_URL="mysql://user:password@localhost/kicktipp"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://yourdomain.uberspace.de"
CRON_SECRET="generate-with-openssl-rand-base64-32"
